<a href="https://colab.research.google.com/github/anupkumar888/Python_Programming/blob/main/1752_day1_demo3Practice_Data_Types_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

###Demo 3: Data Types in Python

### Numbers

Payal is beginner in Python. She is just sitting outside and studying Python. Let us see how she applies Python here.

In [ ]:
bus=input('Number of bus:')
people=input('People per bus:')

Number of bus:10
People per bus:20

Encountering Errors:

In [ ]:
print('Number of people each bus will carry?',int(people)/int(bus) # ) is missing in the end of line.

SyntaxError: ignored

In [ ]:
print('Number of people each bus will carry?',int(people)/int(bus))

Number of people each bus will carry? 2.0

In [ ]:
#It is not possible to carry half right?
each_bus_people=int(people)//int(bus)
print('Number of people on each bus?',each_bus_people)

Number of people on each bus? 2

Every bus caries a leat 10 people. That makes sense. But there is one more problem:
Which bus carries more people  or vice versa.

In [ ]:
#How many peolple should be on the bus?yup...
people_presumed = int(each_bus_people)*int(bus)
print("Total number of people presumed:",people_presumed)
print("Total number of people origanally:",people)
more_people=int(people)-people_presumed
print("number of bus carriying more peolpe:",more_people)

Total number of people presumed: 20
Total number of people origanally: 20
number of bus carriying more peolpe: 0

In [ ]:
#This is basic formatting in python
print("Means %i bus carring more people than average people"%(more_people))

Means 0 bus carring more people than average people

Now, Kiran wants to measure the area of the farm house. She asks her dad to enter length and breadth of the farm house.

In [ ]:
# %i represent an integer value
length, breadth=input("Enter length and breadth of the farm house seperated by comma:").split(",")
area=float(length)*float(breadth)
print("Area of farm house:",area)

Enter length and breadth of the farm house seperated by comma:50,50
Area of farm house: 2500.0

In [ ]:
# Some of the land is used as green_house land. So, the usable area should be-
green_house_land=500
area -= 500
print('Usable area:',area)

Usable area: 2000.0

In [ ]:
# Rest of the area is evenly divided into 10 parts
print('Area for each section:',area/10)

Area for each section: 200.0

In [ ]:
# The precision level is not too high,Payal needs upto 4 decimal places
print("Area for each section %0.6f"%(area/10))

Area for each section 200.000000

In [ ]:
# Formating can also be done using formate() function
print("Area for each section {:.6f}".format(area/10))

Area for each section 200.000000

In [ ]:
# later Payal learnt how to use complex number in python
A=30+3j
B=77-12j

In [ ]:
#Operation on complex numbers
print("Addition of two complex number:",A+B)
print("Multiplication of acomploxnumber and integer:",A*2)
print("Real part of complex number:",A.real)
print("Conjugate of a complex number:",A.conjugate())
print("Imaginary part of real number:",A.imag)

Addition of two complex number: (107-9j)
Multiplication of acomploxnumber and integer: (60+6j)
Real part of complex number: 30.0
Conjugate of a complex number: (30-3j)
Imaginary part of real number: 3.0

In [ ]:
#Comparision of real part of integer
print(A.real==30)

True

In [ ]:
# left shift and right shift
#binary of 6=00000110 so left shifting by two places
#110(6)<<3 => 110000 which is 48 in decimal value
#110(6)>>2 => 0001 which is 1 in decimal value
6<<3,6>>2

(48, 1)

In [ ]:
# To represent a number in various number systems
test=int(input("Enter anumber:"))
print("octal %s:"%oct(test))
print("binary %s:"%bin(test))
print("hexadecimal %s:"%hex(test))
# %s? these function return specific value in string for representation

Enter anumber:22
octal 0o26:
binary 0b10110:
hexadecimal 0x16:

In [ ]:
# Exponential and powers
print('2 to 7th power:%d'%2**7)
print('four times ten to the sixth power:%d'%4e6) # python support E- notation

2 to 7th power:128
four times ten to the sixth power:4000000

In [ ]:
# While playing with numbers she noticed something unsual
print(1.1+2.2==3.3)

False

In [ ]:
#How can that be possible?
x=1.1+2.2
y=3.3
print(x==y)

False

In [ ]:
#  It due to machine error. Machines cannot store decimals precisely
print(x)
print(y)

3.3000000000000003
3.3

In [ ]:
''' Payal wants to convert temperature from Fahrenheit to Celcuis
    Let us try to help her
    She knows the Formula is: C = 5 / 9 * (F - 32)
    One more thing! This is how we write multiline comments in Python.
'''
F=int(input('Enter the temperature in fahrenheit: '))
C=5/9*(F-32)
print('Celcuis: %0.2f'%C)

Enter the temperature in fahrenheit: 100
Celcuis: 37.78

### Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:
It should also be noted that lists indexing will return an error if there is no element at that index. For example:

We can use the sort method and the reverse methods to also effect your lists:

In [4]:
new_list=["a","c","d","x","n","h"]

In [5]:
#show
new_list

['a', 'c', 'd', 'x', 'n', 'h']

In [7]:
# reverse the order of elements in the list
new_list.reverse()

In [8]:
new_list

['h', 'n', 'x', 'd', 'c', 'a']

### Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [13]:
# Let's make three lists
list_1=[9,7,0]
list_2=[4,8,6]
list_3=[7,0,9]

In [14]:
# Make a list of lists to form a matrix
matrix = [list_1,list_2,list_3]

In [15]:
#Show
matrix

[[9, 7, 0], [4, 8, 6], [7, 0, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [16]:
# Grab first item in matrix object
matrix[0]

[9, 7, 0]

In [17]:
# Grab first item of the first list  in the matrix object
matrix[0][0]

9

### Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [18]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2','key3':'value3'}

In [19]:
# Call values by their key
my_dict['key3']

'value3'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [28]:
my_dict = {'key1':1203,'key2':[22,299,33],'key3':['itemb',' ITEMG','itemz']}

In [29]:
# Let's call items from the dictionary
my_dict['key3']

['itemb', ' ITEMG', 'itemz']

In [30]:
# Can call an index on that value
my_dict['key3'][0]

'itemb'

In [31]:
# Can then even call methods on that value and make  the result upper case
my_dict['key3'][0].upper()

'ITEMB'

In [35]:

#Can then even call methods on that value and make the result lower case
my_dict['key3'][1].lower

We can affect the values of a key as well. For instance:

In [36]:
my_dict['key1']

1203

In [38]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [39]:
#Check
my_dict['key1']

957

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [40]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

834

In [41]:
# Set the object equal to itself multiplly 3 
my_dict['key1'] *= 123
my_dict['key1']

102582

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [43]:
# Create a new dictionary
d = {}

In [44]:
# Create a new key through assignment
d['plane'] = 'Indian Airlines'

In [45]:
# Can do this with any object
d['answer'] = 42

In [46]:
#Show
d

{'plane': 'Indian Airlines', 'answer': 42}

Nesting with Dictionaries
Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [49]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'HERO'}}}

Wow! That's a quite the inception of dictionaries! Let's see how we can grab that value:

In [50]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'HERO'

### A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [51]:
# Create a typical dictionary
d = {'key1':1,'key2':28,'key3':93}

In [52]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [53]:
# Method to grab all values
d.values()

dict_values([1, 28, 93])

In [54]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 28), ('key3', 93)])