<a href="https://colab.research.google.com/github/anupkumar888/Python_Programming/blob/main/1752_day5_demo1_PRACTICE_Functionality_of_Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Structures in Pandas

Demo 1: Functionality of Pandas Series
In this demo, you will be shown how to create Series in Python and use various attributes and functionality of Series using pandas.

Question 1:

1) Create a pandas Series from a list  x = [13, -5, 7, 19]

2) Create a series using a numpy array having values "23, 3.0, 7, 11" and specifying index values as "a, b, c, d"

3) Get the values and index of the series of the above series

4) Access individual elements of the string

5) Assign new values to the elements

In [2]:
# Import the required libraries
import pandas as pd
import numpy as np

# 1.1 Create a pandas Series from a list  x = [13, -5, 7, 19]
x= [13,-5,7,19]
s1=pd.Series(x)

# Print the series and observe the default indices created
print(s1)

0    13
1    -5
2     7
3    19
dtype: int64

In [3]:
# Notice that the data type is automatically set for the series as 'int64'

In [31]:
# 1.2 Create a series using a numpy array having values "23, 3.0, 7, 11" and specifying index values as "a, b, c, d

y= np.array([23,3.0,7,11])
s2=pd.Series(y, index=["a","b","c","d"])

print(s2)

a    23.0
b     3.0
c     7.0
d    11.0
dtype: float64

In [13]:
# Note that indices are specifies at the time of creation.

# Check the data type of the series
s2.dtype

dtype('float64')

In [ ]:
# The data type is set as float since one of the values is a float

In [22]:
# 1.3 Get the values and index of the series

print("Values:", s2.values)

print("Index:", s2.index)

Values: [10.  3.  7. 11. 11.]
Index: Index(['a', 'b', 'c', 'd', '1'], dtype='object')

In [23]:
# 1.4 Access the elements of Series

print("Third element:" ,s2[2])

print("First two elements:\n")
print(s2[0:2])

print("Element having index 'd':")
print(s2["d"])

Third element: 7.0
First two elements:

a    10.0
b     3.0
dtype: float64
Element having index 'd':
11.0

In [32]:
# 1.5 Assign new values to the elements

s2['a'] = 101

s2['c']= 33

print(s2)

a    101.0
b      3.0
c     33.0
d     11.0
dtype: float64

Question 2:

From the raw data below create a Pandas Series

'Amit', 'Bob', 'Kate', 'A', 'b', np.nan, 'Car', 'dog', 'cat'

1) Print all elements in lower case

2) Print all the elements in upper case 

3) Print the length of all the elements

In [33]:
#2.0  Print all elements in series
s=pd.Series(['Amit', 'Bob', 'Kate', 'A', 'b', np.nan, 'Car', 'dog', 'cat'])
print(s)

0    Amit
1     Bob
2    Kate
3       A
4       b
5     NaN
6     Car
7     dog
8     cat
dtype: object

In [41]:
#2.1 Print all the elements in lower case

print(s.str.lower())

0    amit
1     bob
2    kate
3       a
4       b
5     NaN
6     car
7     dog
8     cat
dtype: object

In [42]:
#2.2 Print all the elements in upper case

print(s.str.upper())

0    AMIT
1     BOB
2    KATE
3       A
4       B
5     NaN
6     CAR
7     DOG
8     CAT
dtype: object

In [45]:
#2.3 Print the length of all the elements

print(s.str.len())

0    4.0
1    3.0
2    4.0
3    1.0
4    1.0
5    NaN
6    3.0
7    3.0
8    3.0
dtype: float64

##### Question 3:

From the raw data below create a Pandas Series

' Arya', 'John ', ' jack ', 'Sam'

    1) Print all elements after stripping spaces from the left and right
    2) Print all the elements after removing spaces from the left only
    3) Print all the elements after removing spaces from the right only

In [47]:
#3.1 Print all elements after stripping spaces from the left and right
s =pd.Index([' Arya', 'John ', ' jack ', 'Sam'])

print(s)
print(s.str.strip())

Index([' Arya', 'John ', ' jack ', 'Sam'], dtype='object')
Index(['Arya', 'John', 'jack', 'Sam'], dtype='object')

In [48]:
#3.2 Print all the elements after removing spaces from the left only

print(s.str.lstrip())

Index(['Arya', 'John ', 'jack ', 'Sam'], dtype='object')

In [49]:
#3.3  Print all the elements after removing spaces from the right only

print(s.str.rstrip())

Index([' Arya', 'John', ' jack', 'Sam'], dtype='object')

In [ ]:
Conclusion: This code demonstrates how to create Series in pandas and use various functionality of series