<a href="https://colab.research.google.com/github/anupkumar888/Python_Programming/blob/main/1752_day1_demo1PRATICE_Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***Python Basics***
# Demo 1: Operators in Python

### Arithmetic Operators and Built-in Functions - Using Python as a calculator
The following are examples of the kinds of Python expressions that we can use.

| Operator | Description |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod (remainder) |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [1]:
6+5

11

In [2]:
20-1299

-1279

In [3]:
54/22

2.4545454545454546

In [4]:
65%33

32

In [5]:
688//96

7

In [6]:
2**9

512

Each Python value has a type.  `6`, `5`, `20`, and `6` have type `int`.  `12.5` and `3.14` have type `float`. Float stands for *floating point number*. Floats are approximations to the real numbers.

Python has two different division operators: / produces a float and // is integer division (it produces an int).

In [7]:
9/3

3.0

In [9]:
9//3

3

In [ ]:
# When writing programs, we can put in English language explanations called comments.
# Whatever comes after the # symbol is not executed.

In [13]:
3 ** 8  # 3 to the power of 8

6561

In [14]:
2**32 # 2to the power 32

4294967296

In [18]:
# The % operator gives the remainder of a division.
20%3

2

In [19]:
# 20 // 3 gives the quetiont of 20 // 3
20 // 3

6

Operator order of precedence (from highest to lowest)

- `**`

- `-` (negation)

- `*`, `/`, `//`, `%` (left to right)

- `+` (addition), `-` (subtraction) (left to right)



> ERROR ENTERING

When programming, it is common to encounter errors.  You will learn how to interpret the error messages, so that you can fix your code.  Here are a few examples:

In [20]:
3+

SyntaxError: ignored

In [24]:
2* *5   #* * containe indentation between them.

SyntaxError: ignored

In [25]:
4+5)*5  #( braket is missing.

SyntaxError: ignored

In [22]:
9/0

ZeroDivisionError: ignored

####Simplifying Arithmetic Operations

> round( ) function rounds the input value to a specified number of places or to the nearest integer.

In [27]:
print(round(66.6299))
print(round(48.55892, 4))

67
48.5589

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [31]:
z=complex("10+9j")
print(abs(z))

13.45362404707371

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [32]:
divmod(99,22)

(4, 11)

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [34]:
print(pow(8,2))
print(pow(8,2,9))

64
1

###Assignment Operator
Used to assign value to a variable

| Operator | Example | Similar to 
|----------|---------|----------|
| = |x=10 |x = 10
| +=  | x+=5 | x = x + 5
| -= | x-=5 | x = x - 5
| *=  | x*=5 |x = x * 5 
| /=  | x/=5 |x = x / 5 
| %=  | x%=5 |x = x % 5 
| **=  | x**=5 |x = x ** 5
| &=  | x&=5 |x = x & 5
| ^=  | x^=5 |x = x ^ 5
| <<=  | x<<=5 |x = x << 5
| >>=  | x>>=5 |x = x >> 5

### Comparison Operators 

These operators will allow us to compare variables and output a Boolean value (True or False). 

<h3> Table of Comparison Operators </h3><p>  In the table below, consider a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

Let's now work through quick examples of each of these.

#### Equal

In [ ]:
2 == 2

True

In [ ]:
1 == 0

False

Note that <code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

#### Not Equal

In [42]:
3!=1

True

In [41]:
3!=3

False

#### Greater Than

In [43]:
88 > 1

True

In [44]:
0 > 4

False

#### Less than or Equal to

In [45]:
8<=8

True

In [47]:
8<=0

False

#### Chained Comparison Operators

An interesting feature of Python is the ability to *chain* multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

In this lecture we will learn how to chain comparison operators and we will also introduce two other important statements in Python: **and** and **or**.

Let's look at a few examples of using chains:

In [48]:
14 < 26 < 37

True

The above statement checks if 14 was less than 26 **and** if 26 was less than 37. We could have written this using an **and** statement in Python:

In [49]:
14<26 and 26<37

True

The **and** is used to make sure two checks have to be true in order for the total check to be true. Let's see another example:

In [50]:
14 < 37> 26

True

The above checks if 37 is larger than both of the other numbers, so you could use **and** to rewrite it as:

In [51]:
12<37 and 37>26

True

It's important to note that Python is checking both instances of the comparisons. We can also use **or** to write comparisons in Python. For example:

In [52]:
12==26 or 26<37

True

Note how it was true; this is because with the **or** operator, we only need one *or* the other to be true. Let's see one more example to drive this home:

In [53]:
133==133 or 14500==1

True

###Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [61]:
a = 9 #10
b = 8 #11

In [63]:
print(a&b)
print(bin(a&b))

8
0b1000

In [64]:
8>>1

4

0000 10001 -> 8 

Shifting the digits by 1 to the right and zero adding to the left side.

0000 0100 -> 4

In [65]:
8<<1

16

0000 1000 -> 8

Shifting the digits by 1 to the left and zero adding to the right side.

0001 0000 -> 16

###Identity Operator
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.


| Operator | Description | Example
|----|---|---|
| is  | Returns True if both variables are the same object| x is y
| is not  | Returns True if both variables are not the same object| x is not y

In [67]:
x=88
x is 8

False

In [70]:
x is not 100

True

In [69]:
x is 88

True