<a href="https://colab.research.google.com/github/anupkumar888/Python_Programming/blob/Python-programming/2_Functions_(3)Practice_jjb0x.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Functions
def show():
  print("War of World")

In [ ]:
show()

War of World

In [ ]:
#write a function to increment a number by  20
#User define input from user

In [ ]:
d=int(input("Enter the no:\t"))

Enter the no:	339

In [ ]:
d

339

In [ ]:
print(d)

339

In [ ]:
type(d)

int

In [ ]:
d**2

114921

In [ ]:
# Type Casting

In [ ]:
x=3
y=6.7
z=9j

In [ ]:
p=(int(y))
print(p)

6

In [ ]:
h=float(x)
print(h)

3.0

In [ ]:

n=complex(x)
print(n)

(3+0j)

In [ ]:
# Add of 2 user defined no

In [ ]:
x=int(input("Enter a no\t"))
y=int(input("Enter a no\t"))
z=x+y
print("Add=\t",z)

Enter a no	22
Enter a no	44
Add=	 66

In [ ]:
# Add of 2 user defined no using a Function

In [ ]:
def add(x,y):
  z=x+y
  return (z)

In [ ]:
num1= int(input("Enter the first number:"))
num2= int(input("Enter the second number:"))
ans= add(num1,num2)
print(ans)

Enter the first number:111
Enter the second number:888
999

In [ ]:
# Comapre 2 using If else with User Defined no

In [ ]:
def cmp(x,y):
  if(x>y):
    print("X is big")
  else:
    print("Y is big")

In [ ]:
x= int(input("Enter the value of number:\t"))
y= int(input("Enter the value of number:\t"))
cmp(x,y)

Enter the value of number:	33
Enter the value of number:	99
Y is big

In [ ]:
# Write a code to display first 10 Odd No using Function and for loop

In [ ]:
def display():
  for i in range(0,10):
    print((i*2+1),"\t")

display()

1
3
5
7
9
11
13
15
17
19

In [ ]:
#Odd number between 1 to 20
def display():
  for i in range(1,20,2,):
    print(i,"\t")

display()

1
3
5
7
9
11
13
15
17
19

# Default Parameter Value

In [ ]:
def my_function(country= "GERMANY"):
  print("My Country:" + country)


#my_function("India")
my_function()
my_function("Brazil")

My Country:GERMANY
My Country:Brazil

# Passing a List as an Argument

In [ ]:
def my_function(temp):
  for x in temp:
    print(x)
rdt=["RDT","POR",999,44]

my_function(rdt)

RDT
POR
999
44

## Return Values

In [ ]:
def my_function(x):
  return 5*x

print(my_function(5))
print(my_function(8))
print(my_function(9))

25
40
45

In [ ]:
# Addition of 2 number with  Return

In [ ]:
def my_function(x):
  return 9+x

print(my_function(1)) 
print(my_function(88)) 
print(my_function(99))

10
97
108

In [ ]:
# find the factorial a number using function and if condition

In [ ]:
def factorial(y):
    """This is a recursive function
    to find the factorial of an integer"""

    if y == 1:
        return 1
    else:
        # recursive call to the function
        return (y * factorial(y-1))


  # Call a Factroal Function

num=int(input("Enter a no:"))
result = factorial(num)
print("The factorial of ", num, "is", result)

Enter a no:6
The factorial of  6 is 720

## Return Values

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
# Addition of 2 no Return

In [ ]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        # recursive call to the function
        return (x * factorial(x-1))


  # Call a Factroal Function

num=int(input("Enter a no:"))
result = factorial(num)
print("The factorial of", num, "is", result)

# Lambda Function

* A lambda function is a small anonymous function.

* A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
x= lambda a : a+20
print(x(5))

25

In [ ]:
x lambda a,b:a*b
print(x(5,6))

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
def my_function(n):
 return lambda a:a*n

mydoubler =myfunc(2)

print(mydoubler(11))
22

NameError: ignored

In [ ]:
def my_function(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(66))

132

In [ ]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(99))

297

In [ ]:
def my_func(n):
  return lambda a: a*n

mydoubler= myfunc(2)
mytripler= myfunc(3)


print(mydoubler(33))
print(mytripler(33))

66
99